{% extends "base.html" %}

{%  block content %}
<h1>{{ titulo }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nome: </th>
                <th>Idade: </th>
                <th>Nasciemnto: </th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in dados_clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.idade }}</td>
                <td>{{ cliente.nascimento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}