* {

 margin: 0;

 border: 0;

 padding: 0;

}

.container {
    
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100px 100px 100px;
gap: 10px;

    
}



.item {
    background-color: #4CAF50;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
}


.container_dois {
    display: grid;

    grid-template-areas:
        'header header'
        'main main'
        'footer footer'
    ;
    justify-items: center;
    gap: 10px;

}

header {
    grid-area: header;
    background-color: blueviolet;
    width: 100px;
    text-align: center;
}

main {

    grid-area: main;
    background-color: rgb(17, 103, 103);
    width: 200px;
    text-align: center;
}

footer  {
    grid-area: footer;
    background-color: blue;
    width: auto;
    text-align: center;
}