{% extends 'base.html' %}

{% block content %}
<section class="form-box">
    <h2>Sacar</h2>
    <p>Conta: {{ conta.numero }}</p>
    <p>Saldo Atual: R${{ conta.saldo }}</p>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label></label>
            <input type="number" name="valor_form" step="0.01" min="0.01" max="{{conta.saldo}}" required>
        </div>
        <div class="botoes-form">
            <button type="submit" class="btn btn-success">Confirmar</button>
            <a class="btn btn-secondary" href="{% url 'conta' conta.id %}">Cancelar</a>
        </div>
    </form>

</section>

{% endblock %}