{% extends 'base.html' %}
 
{% block content %}
<div class="form-box">
    <h2>Abrir Conta</h2>
    <form method="POST">
        {% csrf_token %}
       
        <div class="form-group">
            <label>Nome completo:</label>
            <input type="text" name="nome" required>
        </div>
       
        <div class="form-group">
            <label>CPF:</label>
            <input type="text" name="cpf" placeholder="000.000.000-00" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Criar Conta</button>
    </form>
</div>
 
{% endblock %}