*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #0378A6 !important;
  display: grid;
  width: 100%; 
  max-width: 100%; 
  box-sizing: border-box; 
  grid-template-areas:
  'header'
  'main'
  'section'
  'article'
  'footer'
  ;
  
  justify-items: center;
  
  gap: 10px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #043F8C ;
  border-radius: 6px;
  width: 97%;
  height: 15vh;
  margin: 7px;
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }

  .menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 30px;
    height: 30px;
  }

  .menu .menu-lines span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #D4AF37;
    border-radius: 3px;
    transition: all ease .2s;
  }

  .menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 30px;
    height: 30px;
    opacity: 0;
  }

  .menu .menu-faketrigger:checked ~ .menu-lines span {
    background-color: #043F8C;
  }

  .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.5);
  }

  .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
  }

  .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg)scaleX(1.5);
  }

  .menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height: calc(100vh - 200px);
    padding-top: 200px ;
    background-color: #D4AF37 ;
    margin-left: -300px;
    transition: all ease .2s;
  }

  .menu .menu-faketrigger:checked ~ ul {
    margin-left: 0;
  }

  .menu ul li {
    padding-left: 20px;
    padding-bottom: 30px;
    
  }

  .menu ul li a{
    text-decoration: none;
    font-size: 30px;
    color: #043F8C;

  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 100%;
    object-fit: cover;
  }

  .loginicon {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #login-icon {
    width: 80%;
    object-fit: cover;
    padding-left: 15px;
  }

}

main {
  grid-area: main;
  background-color: #043F8C ;
  border-radius: 6px;
  width: 97%;
  
  
.carousel {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}


.carousel-container {
  display: flex;
  width: 300%; 
  animation: slideAnimation 3s infinite; 
}


.slide {
  width: 100%; 
}

.slide img {
  width: 90%;
  height: auto; 
  display: block;
  padding: 18px;
}


@keyframes slideAnimation {
  0% { transform: translateX(0); }
  30% { transform: translateX(0); }
  33% { transform: translateX(-33.333%); }
  63% { transform: translateX(-33.333%); }
  66% { transform: translateX(-66.666%); }
  96% { transform: translateX(-66.666%); }
  100% { transform: translateX(0); }
}

  p {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    color: whitesmoke;
    font-weight: bold;
  }

  nav{
    display: flex;
    justify-content: center;
    margin-top:15px ;
    margin-bottom: 15px;
  }
  nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #D4AF37;
    border-radius: 10px; 
    border: 1px solid black;
    
  }
  
}


  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px;
    background-color: #043F8C;
    margin: 6px;
    border-radius: 6px;
    padding: 15px;
  }

  
  .grid-item {
    
    height: 150px; 
    overflow: hidden; 
  }

  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
  }

  
  @media (min-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr); 
    }
    .grid-item {
      height: 200px;
    }
  }




article {
  grid-area: article;
  background-color: #043F8C;
  border-radius: 6px;
  width: 97%;
  
  p{
    display: flex;
    width: 80%;
    background-color: #D4AF37;
    text-align:justify;
    line-height: 1.5;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    
  }
  div h3{
    margin-left: 15px;
    margin-top: 7px;
    color: #D4AF37;
    margin-bottom: 10px;
  }
}

footer {
  grid-area: footer;
  background-color: #043F8C;
  border-radius: 6px;
  width: 97%;
  height: 8vh;
  padding-top: 6px;
  margin-bottom: 7px;
  margin-top: -9px;
  

  nav{ 
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    
   a{
    color: black;
    text-decoration: none; 
    padding: 8px 12px;
    background-color: #D4AF37;
    border-radius: 10px; 
    border: 1px solid black;
   }
  }
}