<!-- Estrutura base  -->

<!-- O arquivo base.html é a moldura do porta retrato -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Incio</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main> <!-- Tag de conteúdo -->
        <!-- Espaço onde a foto aparece -->

        {%  block content  %} 

            <!-- Aqui cao o conteudo da pãgina -->


        {% endblock %}

    </main>

    <footer>
        <p>@ 2026 Heranaç de template</p>
    </footer>

</body>
</html>