{% extends 'base.html' %}

{% block 'titulo' %} Livros {% endblock %}

{% block 'conteudo' %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <br>
    {% if status_categoria == 1  %}
        <div class="alert alert-success" role="alert">
            Categoria cadastrada com sucesso!
        </div>
    {% elif status_categoria == 2  %}
        <div class="alert alert-danger" role="alert">
            Erro! Categoria não pode ser cadastrada!
        </div>
    {% endif %}

    <div class="container">
        
        <div class="row">
            {% for livro in livros %}
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img width="100%"  src="{{livro.img.url}}" class="card-img-top" alt="capalivro">
                        <div class="card-body">
                            <h5 class="card-title">{{livro.nome}} </h5>
                            <h6 class="card-text">{{livro.autor}} </h6>
                            <p class="card-text">{{livro.categoria}}</p>
                            {% if livro.emprestado %}
                                <p>⛔Livro emprestado⛔</p>
                            {% else %}
                                <p>✅Livro disponível✅</p>
                            {% endif %}
                            <a href="{% url 'ver_livro' livro.id %}" class="btn btn-info">Descrição</a>
                        </div>
                    </div> 
                </div>    
            {% endfor %}
        </div>
    </div>

{% endblock %}