{% extends 'base.html' %}
{% load filtros %}

{% block 'titulo' %} Seus Emprestimos {% endblock %}

{% block 'conteudo' %}

{% for emprestimo in emprestimos %}
    <label><u>Nome:</u></label>
    <p>{{emprestimo.livro}}</p><br>
    <label><u>Emprestado:</u></label>
    <p>{{emprestimo.data_emprestimo}}</p><br>
    <label><u>Devolvido:</u></label>
    {% if emprestimo.data_devolucao %}
        <p>{{emprestimo.data_devolucao}}</p>
    {% else %}
        <p>❌</p>
    {% endif %}
    <hr>
{% endfor %}


{% endblock %}