{% extends 'base.html' %}
{% load filtros %}

{% block 'titulo' %} Livros {% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <form action="" method="POST"> {% csrf_token %}
            <br>
            <p>
                <label for="">Nome do livro:</label>
                <input class="form-control" type="text" value="{{livro.nome}}">
            </p>
            <p>
                <label for="">Nome do Autor:</label>
                <input class="form-control" style="width: 40%;" type="text" value="{{livro.autor}}">
            </p>
            <p>
                <label for="">Nome do Co-autor:</label>
                <input class="form-control" style="width: 40%;" type="text" value="{{livro.co_autor}}">
            </p>
            <p>
                <label for="">Data Cadastro:</label>
                <input class="form-control" style="width: 40%;" type="text" value="{{livro.data_cadastro}}">
            </p>

            <select class="form-control" name="categoria" style="width: 20%;">
                {% for cl in categoria_livro %}
                    {% if livro.categoria.nome == cl.nome %}
                        <option selected>{{cl}}</option>
                    {% else %}
                        <option>{{cl}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            
            <label>Emprestado: &nbsp;&nbsp;</label>
            
            {% if livro.emprestado %}
                <input type="checkbox" checked style="transform: scale(2);" name="emprestado">
            {% else %}
                <input type="checkbox" style="transform: scale(2);" name="emprestado">
            {% endif %}
            <br>            
        </form>
       <a class="btn btn-danger btn-lg" href="">Excluir</a>
       
        <hr>
        <H3>Histórico de emprestimos:</H3>
        <table class="table table-dark table-hover table-striped">
            <thead>
                <tr>
                <th scope="col">NOME</th>
                <th scope="col">Data Empréstimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Tempo duração</th>
                </tr>
            </thead>
            <tbody>
                {% for e in emprestimos %}
                    <tr>
                    <th scope="row">{{e.nome_emprestado}}</th>
                    <td>{{e.data_emprestimo}}</td>
                    <td>{{e.data_devolucao}}</td>
                    <td>{{e.data_devolucao|mostra_duracao:e.data_emprestimo }} dia(s)</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                </div>
{% livro.nome %}

{% endblock %}