{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}


{% block content %}
    <div style="margin-top: 56px;" class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Faça o login em sua conta</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Precisa de uma conta? <a href="{% url 'cadastrar' %}"><b>Cadastre-se</b></a></small>
        </div>
    </div>
{% endblock content %}