{% extends 'pages/base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div style="margin-top: 56px; background-color: rgb(110, 109, 109);" class="cardd">
    
    <div class="m-b-25"> <img class="rounded-circle account-img" id="profile-img" src="{{ user.perfil.image.url }}" class="img-radius" alt="FotoPerfil"> </div>
    
    <h1 id="profile-h1">{{user.username|title}}</h1>
    <p class="title">{{user.email}}</p>
    
    
    <a href="#" id="auth-links"><i class="fa fa-twitter"></i></a>
    <a href="#" id="auth-links"><i class="fa fa-linkedin"></i></a>
    <a href="#" id="auth-links"><i class="fa fa-facebook"></i></a>

      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>

      </form>

    <p><button style="border-radius: 0 0 30px 30px; " id="btn-profile"><a href="{% url 'profile-update' %}" id="auth-links">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Atualizar Perfil
  </a></button></p>
  </div>
{% endblock %}