{% extends 'base.html' %}
{% load 'filters' %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'add_produto' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <br>
            <label for="">Imagem:</label>
            <input type="file" name="imagens" multiple class="form-control">
            <br>
            <label for="">Nome:</label>
            <input type="text" placeholder="Digite o nome" name="nome" class="form-control">
            <br>
            <label for="">Categoria:</label>
            <select name="categoria" id="">
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="">Estoque inicial:</label>
            <input type="number"  name="quantidade" class="form-control">
            <br>
            <label for="">Preço de compra:</label>
            <input type="number" name="preco_compra" class="form-control">
            <br>
            <label for="">Preço de venda:</label>
            <input type="number" name="preco_venda" class="form-control">
            <br>
            <input type="submit" class="btn btn-success" value="Enviar">
        </form>
        <hr class="bg-hr">
        <form action="{% url 'add_produto' %}" method="GET">
            <div class="row">
                <div class="col-md">
                    <input class="form-control" type="text" name="nome" placeholder="digite o nome">
                </div>
                <div class="col-md">
                    <select class="form-control" name="categoria" id="">
                        <option value="">Todas as categorias</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md">
                    <input class="form-control" type="number" name="preco_min" placeholder="Preço Mínimo">
                </div>
                <div class="col-md">
                    <input class="form-control" type="number" name="preco_max" placeholder="Preço Máximo">
                </div>
                <div class="col-sm">
                    <input class="btn btn-success" type="submit" value="FILTRAR">
                </div>
            </div>
        </form>

        <div class="listar_produtos">
            <div class="row">
                {% for produto em produtos %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            {% if produto|get_first_image %}
                                <img width="100%" class="card-img-top" src="{{produto|get_first_image}}" alt="img_prod">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{produto.nome}}</h5>
                                <span class="badge badge-primary">{{produto.categoria}}</span>
                                <p class="card-text">Preço compra: R${{produto.preco_compra}}</p>
                                <p class="card-text">Preço venda: R${{produto.preco_venda}}</p>
                                <br>
                                <a href="{% url 'produto' produto.slug %}" class="btn btn-success">Acessar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
       
    </div>
{% endblock %}