{% extends "base.html" %}

{%  block content %}
<h1>{{ titulo }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nome: </th>
                <th>Idade: </th>
                <th>Nasciemnto: </th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in dados_clientes %}
            <tr>
                <td>{{ cliente.nome }}</td><br>
                <td>{{ cliente.idade }}</td><br>
                <td>{{ cliente.nascimento }}</td><br>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}