/*  Seletor por TAG */

body{
    font-family: Arial, Helvetica, sans-serif; /* define o tipo de fonte */
    margin: 0 ; /* define a margem */
    background-color: #f5f5f5;
    color: rgba(7, 2, 1, 0.89); /* cor da fonte */
    line-height: 1.5; /*espaçamento entre o texto*/
}

header{
    background-color: #FF6D2D  ;
    color: whitesmoke;
    padding: 24px 16px; /* afasta das bordas (para medidas diferentes usar lado a lado ex: padding: 24px 16px;[superior e inferior| espaçamento lateral] */
    text-align: center; /* alinhamento de texto*/
}

nav{
    display: flex; /*Permite mexer os elementos de forma livre*/
    gap: 12px; /*espaçamento entre os itens*/
    justify-content: center; /*alinha na horizontal (itens diversos)*/
    margin-top: 12px; /*apenas a margem superior*/
}

nav a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: rgb(109, 108, 108);
    border-radius: 8px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
}

/* :holder altera o elemento qnd passa o mouse */
nav a:hover {
    background-color: rgb(49, 52, 241);
}


/* Seletor por classe*/

.container{
    max-width: 900px;  /* define a largura maxima*/
    margin: 18px auto;
    color: black;
    padding: 0 16px;
    

}

/* Trabalhando com classe */

.card {
    background-color: antiquewhite;
    border: 2px solid  #FF6D2D;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px black;
    margin-bottom: 16px;
    margin-top: 16px;
}

.card:hover{
    transform:translateY(-2px);
}

/* Seleção com ID */

#destaque{
 border-left: 6px solid #FF6D2D    ;  
 padding-left: 12px  ;  
 
}

footer{
    text-align: center;
    padding: 20px;
}