{% extends 'pages/base.html' %}

{% block title %}Sobre Blog{% endblock %}

{% block content %}

    <div style="margin-top: 56px;" class="content-section">
        <article class="media content-section">
            
            <div style="margin-left: 20px;">
                <h4 style="font-family: Arial, Helvetica, sans-serif;text-align: center;"><b>Escopo do Projeto Web em Django</b></h5>
                    <h6><strong><u>Objetivo:</u></strong></h6>
                    <p> Desenvolver um projeto web utilizando o framework Django, proporcionando aos alunos uma introdução prática aos conceitos fundamentais de programação web e ao desenvolvimento de aplicações web dinâmicas.</p>

                    <h6><strong>Tecnologias:</strong></h6>
                        <p style="margin-left: 10px;">
                            -Django: Framework Python para desenvolvimento web. <br>
                            -Python: Linguagem de programação.<br>
                            -HTML: Linguagem de marcação de hipertexto. <br>
                            -CSS: Linguagem de estilo para definir a aparência das páginas web. <br>
                            -Bootstrap: Framework CSS para design responsivo e desenvolvimento front-end. <br>
                            -Banco de dados: SQLite (por padrão no Django), mas pode ser substituído por outros como PostgreSQL ou MySQL. <br>
                        </p>
                    
                    <h6><strong>Conceitos a serem abordados:</strong></h6>
                    <p style="margin-left: 10px;">
                        -CRUD: Criação, Leitura, Atualização e Deleção de dados.<br>
                        -Modelos: Representação das estruturas de dados do aplicativo.<br>
                        -Views: Lógica de processamento das requisições HTTP.<br>
                        -Templates: Criação das interfaces visuais das páginas.<br>
                        -Context: Passagem de dados dos views para os templates.<br>
                        -Sessões: Manutenção de estado entre as requisições.<br>
                        -Herança de templates: Reutilização de blocos de HTML em diferentes templates.<br>
                        -URLs: Mapeamento de URLs para as views.<br>
                        -Forms: Criação de formulários para entrada de dados.<br>
                    </p>   
                    <h6><strong>Etapas do projeto:</strong></h6>
                    <p style="margin-left: 10px;">
                        <u><strong>-Previsão de Entregas Aula 01/07/2026</strong></u><br>
                            &nbsp;&nbsp;&nbsp;Configuração do ambiente:<br>
                            &nbsp;&nbsp;&nbsp;Instalação do Python e do Django.<br>
                            &nbsp;&nbsp;&nbsp;Criação do projeto Django.<br>
                            &nbsp;&nbsp;&nbsp;Configuração do banco de dados.<br>
                            &nbsp;&nbsp;&nbsp;Criação dos modelos:<br>
                            &nbsp;&nbsp;&nbsp;Definição dos modelos para representar os dados do aplicativo (ex: usuários, posts, comentários).<br>
                            &nbsp;&nbsp;&nbsp;Criação das migrations e aplicação das mesmas no banco de dados.<br>
                        <u><strong>-Previsão de Entregas Aula 03/07/2026</strong></u><br>
                            &nbsp;&nbsp;&nbsp;Criação das views:<br>
                            &nbsp;&nbsp;&nbsp;Criação dos templates: Criação dos templates utilizando HTML e CSS.<br>
                            &nbsp;&nbsp;&nbsp;Utilização de Bootstrap para estilização.<br>
                            &nbsp;&nbsp;&nbsp;Utilização de herança de templates para organizar a estrutura dos templates.<br>
                            &nbsp;&nbsp;&nbsp;Configuração das URLs:<br>
                            &nbsp;&nbsp;&nbsp;Mapeamento das URLs para as views.<br>
                            &nbsp;&nbsp;&nbsp;Autenticação de usuários.<br>
                        <u><strong>-Previsão de Entregas Aula 06/07/2026</strong></u><br>
                            &nbsp;&nbsp;&nbsp;Ajsutes Finais no projeto<br>
                            &nbsp;&nbsp;&nbsp;Apresentação<br>
                            &nbsp;&nbsp;&nbsp;Entrega Final e encerramento.<br>
                    </p>
                    <h5><strong>Exemplo de aplicação:</strong></h5>
                    <p style="margin-left: 10px;">   
                        BLOG SIMPLES, onde os usuários podem:<br>
                        Cadastro de usuários.<br>
                        Login e logout.<br>
                        Criação de posts.<br>
                        Edição e exclusão apenas dos próprios posts.<br>
                        Visualização da lista de posts.<br>
                        Visualização dos detalhes de um post.<br>
                        Cadastro de comentários em um post.<br>
                        Busca de posts por título ou conteúdo.<br>
                    </p> 
            </div>
        </article>    
    </div>

{% endblock %}