{% extends 'pages/base.html' %}

{% block title %}Sobre Blog{% endblock %}

{% block content %}

    <div style="margin-top: 56px;" class="content-section">
        <article class="media content-section">
            <h4><b>Sobre:</b></h4>
            <p style="margin-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel neque venenatis risus lacinia viverra. Maecenas ac cursus leo, eget hendrerit magna. Cras non velit feugiat, convallis tortor at, porta tellus. Vestibulum feugiat, metus quis elementum suscipit, lorem sem pulvinar magna, eget feugiat elit justo vitae velit. Vivamus in odio id odio commodo malesuada. Integer imperdiet orci vestibulum nisl vehicula, ac sollicitudin diam faucibus. Vivamus tristique tellus ut sem accumsan, ut laoreet justo rhoncus. Suspendisse non mattis purus. Ut elit massa, accumsan eget ligula vel, congue iaculis quam. Vivamus et risus gravida, pharetra arcu non, varius libero. Praesent vehicula eleifend lacus, in tincidunt nunc euismod quis. Vestibulum aliquam sodales sapien, nec dignissim lorem rutrum eu.

Morbi consequat dapibus enim, porttitor ornare eros vehicula sit amet. Suspendisse placerat ultricies ipsum, ac sagittis sapien molestie quis. Aenean viverra ipsum ac dolor interdum, non pulvinar leo fringilla. Sed laoreet dui magna, a hendrerit nisi bibendum a. Fusce congue, urna ut sodales hendrerit, mauris arcu suscipit ipsum, sit amet ullamcorper sapien dolor sit amet urna. Aenean vel magna sapien. Etiam imperdiet dolor non vestibulum vehicula. Sed porttitor justo vel magna dapibus facilisis. Morbi semper lectus non finibus rutrum. Fusce ut dolor dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper suscipit justo sed tempus. Donec auctor purus tincidunt, tincidunt felis sodales, consectetur magna. Fusce a leo a erat posuere scelerisque. Ut bibendum turpis nisl.</p>
        </article>    
    </div>

{% endblock %}