{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Atualizar{% endblock %}

{% block content %}
    <div style="margin-top: 56px;" class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Atualizar Postagem</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">ATUALIZAR</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Gostaria de voltar? <a href="{% url 'blog-home' %}"><b>VOLTAR</b></a></small>
        </div>
    </div>
{% endblock content %}